* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(220, 218, 216);
  color: rgb(25, 25, 24);
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}
p1 {
  color: rgb(192, 14, 121);
}
p2 {
  color: blueviolet;
}
p3 {
  color: chocolate;
}
button {
  color: chocolate;
}
