* img {
  height: 200px;
  width: 200px;
}
img:hover {
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  background: magenta;
  padding: 10px;
  border-radius: 100;
}
