* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(220, 218, 216);
  color: rgb(25, 25, 24);
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}
p1 {
  color: rgb(14, 115, 192);
}
p2 {
  color: rgb(203, 11, 152);
}
p3 {
  color: chocolate;
}
button {
  color: rgb(37, 17, 3);
  background-color: rgb(199, 63, 14);
  height: 25px;
  width: 150px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
